@font-face {
  font-family: 'gothambold';
  src: url('fonts/gothambold.eot');
  src: local('gothambold'), url('fonts/gothambold.woff') format('woff'), url('fonts/gothambold.ttf') format('truetype');
}

.gotham-bold {
  font-family: 'gothambold' !important;
}

@font-face {
  font-family: 'gotham-light';
  src: url('fonts/Gotham-Rounded-Light.otf');
}

.gotham-light {
  font-family: 'gotham-light' !important;
}

@font-face {
  font-family: 'helvetica-medium';
  src: url('fonts/helvetica-light.ttf');
}

.helvetica-medium {
  font-family: 'helvetica-medium';
}

@font-face {
  font-family: 'helvetica-bold';
  src: url('fonts/helvetica-bold.ttf');
}
  
.helvetica-bold {
  font-family: 'helvetica-bold';
}
